body {
    position: relative;
    padding-top: 98px;
    padding-bottom: 725px;
}

@media (max-width: 766px) {
    body {
        padding-top: 50px;
    }
}

nav {
    /*min-height: 98px;*/
    box-shadow: 2px 2px 2px #ccc;
    background: #fff;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

img {
    border: 0;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
} 

.row {
    margin-top: 36px;
}

.navbar-brand {
    padding: 0;
    min-height: 98px;
}

.navbar-brand > img {
   display: block;
}

@media (max-width: 992px) {
    .navbar-brand > img {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        padding: 0;
        min-height: 50px;
    }
    .navbar-brand > img {
        display: none;
    }
}


.navbar-toggle {
    background: #333;
}

.navbar-toggle .icon-bar {
    background: #fff;
}


.nav-menu > li > a {
    color: #373737;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-menu > li > a:hover {
    color: #024C94;
    background: #fff;
}

.menu-box {
    display: flex;
    margin-top: 26px;
    flex-direction: column;
    align-items: flex-end;
}

.child-menu {
    position: absolute;
}

.child-menu > a {
    display: none;
    text-decoration: none;
    padding: 14px 20px 16px 18px;
    color: #fff;
    background: rgba(0,0,0, .6);
}

.nav-menu > li:hover .child-menu > a {
    display: block;
}

.child-menu > a:hover {
    background: rgba(1,72,142, 1);
}

@media (max-width: 768px) {
    .child-menu {
        position: relative;
    }
    .menu-box {
        align-items: flex-start;
    }
}

.carousel-box {
    padding: 0;
}

.carousel-inner > .item {
    height: 800px;
    overflow: hidden;
}

.banner {
    width: 100%;
    height: 100%;
}

.b-img-1 {
    background: url(../images/banner_1.png) center  no-repeat;
    background-size: cover;    
}

.b-img-2 {
    background-image: url(../images/banner_1.png);
    background-size: cover;
}

.b-img-3 {
    background-image: url(../images/banner_1.png);
    background-size: cover;
}

@media (max-width: 1200px) {
    .carousel-inner > .item {
        height: 500px;
    }
}

@media (max-width: 768px) {
    .carousel-inner > .item {
        height: 300px;
    }
}

@media (max-width: 500px) {
    .carousel-inner > .item {
        height: 200px;
    }
}

.carousel-inner > .item > img {
    width: 100%;
    height: auto;
}

.general {
    margin-top: 95px;
    margin-bottom: 168px;
}

.general img {
    width: 100%;
}

.title-box {
    width: 33.33%;
}

.title-box > img {
    width: 100%;
}

@media (max-width: 766px) {
    .title-box {
        width: 80%;
    }
}

.content-box {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.content-box > div {
    

}

.col-lb {
    display: flex;
    align-items: flex-end;
    width: 45.83%;
}

.col-lb > img {
    float: left;
    width: 50%;
}

.child-lb > img {
    padding-left: 5px;
    padding-right: 5px;
}

.child-lb > img:first-of-type {
    margin-bottom: 10px;
}

.col-rg {
    position: relative;
    float: left;
    width: 54.16%
}

.general-content {
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: left;
    overflow: hidden;
}

.general-content > h3 {
    margin-top: 15%;
    margin-left: 10%;
}

.general-content > p {
    font-size: 18px;
    text-indent: 2em;
    line-height: 2em;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.general-content > a {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    margin-top: 5%;
    margin-left: 10%;
    border: 1px solid #fff;
}

@media (max-width: 766px) {
    .col-lb-12 {
        padding: 10px 20px;
        width: 100%;
    }
}
.col-rg > img {
    padding-left: 5px;
    width: 100%
}


/*主要研究方向*/
.main-box {
    background: url(../images/background1.png) center no-repeat;
    background-size: cover;
    padding-top: 92px;
    padding-bottom: 127px;
}

.main {

}

.main h2 {
    color: #fff;
}

.col-mb {
    width: 20%;
    min-height: 535px;
    background: #fff;
}

@media (max-width: 1200px) {
    .col-mb {
        min-height: 445px;
    }
}

@media (max-width: 970px) {
    .col-mb {
        min-height: 350px;
    }
}

.col-mb > img {
    padding: 5px;
    width: 100%;
    background: #fff;
}

@media (max-width: 766px) {
    .col-mb-6 {
        width: 50%;
    }
}

.team {
    padding-top: 94px;
    padding-bottom: 87px;
}

.btn-team {
    display: inline-block;
    color: #666;
    padding: 10px 25px;
    border: 1px solid #CDCDCD;
}


/*新闻中心*/
.news-box {
    padding: 66px 0;
    background: url(../images/news_bg.png) center center no-repeat;
}

.news-content {
    padding-bottom: 50px;
}

.news-content img {
    width: 100%;
}

.news-content h3 {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 22px;
}

.news-content p {
    margin-bottom: 42px;
    font-size: 14px;
    color: #A8A8A8;
}

.news-content > .row > div {
    margin-top: 20px;
}

.news-title {
    color: #fff;
}

.more {
    display: inline-block;
    float: right;
    color: #fff;
    padding: 8px 20px;
    background: #999;
}

.btn-item > .btn {
    margin: 0 10px;
    padding: 9px 26px;
    border: 1px solid #ccc;
    color: #666;
    background: #fff;
}

.btn-item > .btn:hover {
    color: #fff;
    border-color: #024C92;
    background: #024C92;
}

.news-items {
    padding: 0;
}

.news-items li {
    display: flex;
    /*flex-wrap: wrap;*/
    margin-top: 10px;
    border-top: 1px solid #ccc;
}

.news-items li h3 {
    margin-top: 15px;
}

.time {
    display: inline-block;
    width: 150px;
    padding: 5px 20px;
}

.new-info span {
    display: block;
}

.new-info p {
    margin-bottom: 20px;
}

.news-items .day {
    font-size: 34px;
    font-weight: liner;
}

/*友情链接区域*/
.friend-link {
    background: url(../images/wblack-2.png) center no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}

.friend-link img {
    width: 100%;
}

.friend-link > .link-box {
    margin-top: 50px;
}

.link-box > .title-box {
    margin-bottom: 50px;
}

.link-box .btn {
    margin-top: 50px;
}

.friend-link > .link-box > .row {
    margin-top: 0;
}

.friend-link > .link-box > .row  div {
    padding: 0;
}

/*地图区域*/
.map {
    position: relative;
    height: 940px;
    background: url(../images/ditu.png) center no-repeat;
    background-size: cover;
}

@media (max-width: 760px) {
    .map {
        height: 400px;
        background-position: -600px center;
        background-size: 1200px;
    }
}

.map-box {
    position: relative;
    height: 100%;
}


.map-info {
    position: absolute;
    z-index: 6;
    top: 98px;
    left: 125px;
    width: 440px;
    height: 625px;
    border-top: 4px solid #428CDE;
    box-shadow: 2px 3px 4px #ccc;
    background: #fff;
}

.map-info-header {
    padding: 50px 50px 20px; 
    color: #000;
    width: 100%;
    font-size: 36px;
    background: #F3F3F3;
}

.map-info-header h3 {
    font-size: inherit;
    margin: 0;
}

.map-info span {
    font-size: 20px;
    color: #999;
    display: block;
    margin-top: 30px;
    margin-left: 38px;
    margin-right: 38px;
}

.map-info i {
    margin-right: 20px;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 34px;
    background: url(../images/icon.png) no-repeat;
}

.icon-name {
    background-position: 0 5px;
}

.icon-phone {
    background-position: 0 -63px;
}

.icon-email {
    background-position: 0 -135px;
}

.icon-address {
    background-position: 0 -205px;
}

.icon-postcode {
    background-position: 0 -310px;
}

@media (max-width: 768px) {
    .map-box {
        display: none;
    }
}

.btn-top {
    display: block;
    position: absolute;
    width: 74px;
    height: 71px;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
}

/*尾部区域*/

footer {
    background: url(../images/footer_bg.png) top center no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    footer {
        background: #2C2F34;
        position: static;
        width: 100%;
    }
    body {
        padding-bottom: 0;
    }
    .btn-top {
        display: none;
    }
}


.footer-box > .row:first-of-type {
    margin-top: 84px;
    padding: 0 74px;
}

.footer-box img {
    width: 100%;
}

.footer-card {
    padding: 0;
}

.list-box {
    /*display: flex;*/
    margin-top: 128px;
    /*flex-wrap: wrap;
    justify-content: space-between;*/
}

.footer-list {
    display: flex;
    float: left;
    flex-wrap: wrap;
}

.footer-list h4 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
}

.footer-list > ul a {
    display: block;
    padding: 10px 50px;
    padding-left: 0;
    color: #999997;
}


.quick-box {
    float: right;
    color: #fff;
}


@media (min-width: 992px) {
    .quick-box {
        width: 15%;
    }
}

@media (max-width: 992px) {
    .list-box {
        justify-content: center;
    }
    .footer-list ul {
        min-width: 10%;
    }
    .quick-box {
        float: none;
    }
}


.quick-box span {
    font-size: 16px;
    display: inline-block;
    margin-top: 30px;   
}



.last-box {
    height: 40px;
    margin-top: 60px;
    background: #202023;
}