body {
	font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif !important;
    background: url(../images/export_bg.jpg) 0;
    font-size: 16px;
}

a {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

strong {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #333;
}

.layout {
    width: 1200px;
    position: relative;
    margin: 30px auto 100px;
    background: #FDFDFE;
    box-shadow: 2px 3px 5px #ccc;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.aside {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 350px;
    float: left;
    margin-left: 50px;
    background: #F3EFF7;
    text-align: center;
}

.aside .avatar-box {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
	border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    box-shadow: #ccc 1px 1px 10px 2px;
}
.aside .avatar-box img {
    width: 80%;
}

.aside .content {
	margin-top: 10px;
}

.aside .content h2 {
	display: inline-block;
	width: 100%;
	padding: 11px 0;
    background: #29B6F6;
    border-radius: 4px;
	color: #fff;
	box-shadow: 2px 3px 5px #ccc;

}

.aside .content span {
	display: inline-block;
    width: 65%;
    padding: 10px 0;
    text-align: left;
}

.aside .content .xinxi-title {
    width: 25%;
    text-align: center;
}


.aside .content .jianshu-box {
    display: inline-block;
    width: 65%;
}

.aside .content .jianshu-box .jianshu-code {
    /* display: inline-block; */
    display: block;
    width: 100px;
}


.aside .content .contact > .contact-item {
	display: block;
	text-align: left;
	margin-left: 15%;
    padding: 10px 10px;
	width: 80%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.aside .content .hobby {
	margin-bottom: 40px;
}

.aside .content .hobby li {
	display: block;
	float: left;
	width: 40%;
	margin: 15px;
	font-size: 1.2em;
}

.aside .content .mini-resume {
    margin-top: 30px;
}

.aside .content .mini-resume img {
    width: 150px;
    box-shadow: #ccc 1px 1px 10px 2px;
}

.course {
    padding-left: 10px;
}

.main {
	width: 60%;
	float: right;
    margin-right: 30px;
    padding-bottom: 20px;
}

/*二维码盒子*/
.aside .content .quick-mark {
    vertical-align: middle;
    text-align: left;
    padding-left: 20px;
}

.aside .content .quick-mark span {
    width: 100px;
    vertical-align: middle;
}

.aside .content .quick-mark .qr-code {
    width: 100%;
}

.main h3 {
	display: inline-block;
	width: 100%;
    padding: 10px 0 10px;
    margin-bottom: 10px;
    margin-top: 5px;
	text-indent: 50px;
	border-bottom: 2px solid #575757;
	color: #434343;
	font-size: 1.3em;
}

.main span,
.main h4 {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    letter-spacing: 0.1em;
    vertical-align: top;
    color: #29B6F6;
}

.main span {
	color: #727171;
	font-size: 16px;
	line-height: 1.5;
	text-align: left;
	text-align:justify;
	margin-bottom: 20px;
}

.self-assessment span,
.skill span,
.demo span {
    font-size: 16px;
    width: 90%;
    color: #333;
    margin-top: 5px;
    margin-bottom: 5px;
}

.main p {
	margin: 0 20px 30px;
    font-size: 1.3em;
}

.main .work {
    padding: 0;
}

.main .work  p {
    font-size: 16px;
    margin-bottom: 10px;
}

.main .work-content {
    margin-top: 10px;
}

.adorn {
	height: 90px;
	position: relative;
}

/* .adorn:before {
	content: '';
	position: absolute;
	left: -20px;
	top: 17px;
	display: block;
	width: 60px;
    height: 56px;
    background: #29B6F6;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
}
.adorn:after {
	content: '';
	position: absolute;
	right: -20px;
	top: 17px;
	display: block;
	width: 60px;
    height: 56px;
    background: #29B6F6;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
} */

.skill p {
    margin-bottom: 10px;
}